.btn-group{
  display: flex;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pagination-block{
  display: flex;

    .btn{
     /* margin: 0 5px;*/
    }
}

