.tab-content-wrapper{
  position: relative;
}

.item-title{
  width: 15%;
  text-align: center;
}

.item-phone{
  width: 15%;
  text-align: center;
}

.item-description{
  width: 60%;
  padding: 10px;
}